html{
  scroll-behavior: smooth; 
  font-family: Helvetica, Arial, sans-serif;
}

body{
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 80%; 
  max-width: 100%;
  margin: 0 auto
}

#items{
  display: grid;
  grid-gap: 10px; 
  text-align: center; 
  grid-template-columns:1fr;
  
   }

#products-section{
  padding-top: 30px;
}

#financial-section{
  padding-top: 30px;
}

#about-us{
  padding-top: 30px;
  padding-bottom:40px
}

input{
  box-shadow: 3px 2px 2px black;
  border-radius: 5px;
}


#sign-up {
  padding: 20px;
  background-color: rgb(189, 186, 186);
  text-align: center;
  border-radius: 10px;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr;
}

#sign-up h3 {
  grid-column: 1;
}

#sign-up form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  align-items: center;
  
}

#sign-up  input{
  box-shadow: 3px 2px 2px black;
  border-radius: 5px;
}

button {
  width:90px;
  height: 20px;
  box-shadow: 3px 2px 2px black;
  border-radius: 5px;
  margin: 0 auto;

}

table {
  margin:  auto; 
  width: 900px;
}
.table-section {
  max-width: 100%; 
  overflow-x: auto; 
}
#financial-section h5{
  text-align: center;
}

nav{
    position: fixed;
    background-color: black;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
}

header{
  padding-top: 50px;
  background-color: rgb(189, 186, 186);
  text-align: center;
  height: 150px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
header h1{
  text-transform: uppercase;
}
ul{
  margin: 0;
  padding-left:9.5%;
  display: flex;
  list-style-type: none;
}

 
li{
    grid-column-start: 1.;
    color: white;
    padding: 10px;
}
li:hover{
    color: red;
}
nav li a {
  text-decoration: none;
  color: white;
}
nav li a:hover{
  color: red;
  text-decoration: underline;
}


td, th {
    border: 1px solid #dddddd;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #96bcce;
  }
  tr td:last-child{
    color: red;
  }
  tr td:first-child{
    font-weight: bold;
  }
  table tr:nth-child(n+2) td:nth-child(n+2) , table tr:last-child td:first-child{
    text-align: right;
  }

  tr:hover{
    background-color: rgb(117, 117, 206);
   } 
  
  footer{
    position: fixed;
    background-color: black;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  footer > p{
    color: white;
    padding-left:10.5%;
  }
  img ,video{
    width: 100%;
    height: auto;
  }

  
  .italic-word{
    font-style: italic;

  }
  @media(min-width: 1000px){
    #items{
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    #items section:not(:last-child){
      padding-right: 10px;
      border-right: 1px solid #949393;
    }
    
    #sign-up form {
      grid-template-columns: 1fr 1fr 1fr ;  
       }
       
       

    }
    
  
 
