.calculator-container {
  display: grid;
  grid-template-columns: repeat(1, 300px); 
  gap: 10px; 
  max-width: 300px; 
  margin: auto; 
}

.calculator-button {
  font-size: 50px; 
  padding: 15px; 
  cursor: pointer; 
  height: 100px;
  width: 100px;
}
.display {
  font-size: 50px;
  text-align: right;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
}

.calculator-frame {
  border: 2px solid #4a4a4a;
  padding: 20px; 
  background-color: #f9f9f9; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  width: fit-content; 
  margin: auto;
}

.prev-number{
  text-align: right;
  font-size: 20px;
}